.vj {
  // Base node
  &__node {
    display: flex;
    position: relative;

    // Node hover
    &.vj--hover {
      // Bracket colors
      @at-root .vj__window.vj--collapsable-brackets & {
        // Bracket color
        .vj__value {
          .vj-text {
            color: $primary;
          }
        }
      }

      // Bracket bottom border
      @at-root .vj__window.vj--collapsable-brackets.vj--tablines & {
        &:not(.vj--collapsed) {
          .vj__key::after {
            content: "";
            display: block;
            position: absolute;
            width: 110%;
            bottom: -1px;
            left: 0;
            border-bottom: 1px solid $tab-border-color-active;
          }
        }
      }
    }
  }

  &__key,
  &__value {
    display: inline-block;
    position: relative;

    span {
      display: inline-block;
    }
  }

  // Node key
  &__key {
    white-space: nowrap;
  }

  // Node value
  &__value {
    // Single line nodes
    @at-root .vj__view.vj--single-line {
      white-space: nowrap;
    }

    // Collapsable token
    @at-root .vj__window.vj--collapsable-brackets & .vj-text {
      // Brackets hover
      &:hover {
        color: $primary;
      }
    }
  }
}
