.vj {
  // Base node
  &__node {
    display: flex;
    position: relative;
    min-width: 100%;
    white-space: nowrap;

    // Hidden node
    &.vj--hidden {
      position: absolute;
      z-index: -99;
      visibility: hidden;
      opacity: 0;
    }

    // Selected node
    &.vj--selected {
      background-color: $node-selected-color;
      box-shadow: 0 1px 0 0 darken($color: $node-selected-color, $amount: 5);
    }

    // Hoverable
    @at-root .vj__window.vj--hoverable & {
      &:hover {
        background-color: $node-hover-color;
      }
    }

    // Virtual list
    @at-root .vj__window.vj--virtual-list & {
      position: absolute !important;
    }

    // Node hover
    &.vj--hover {
      // Bracket colors
      @at-root .vj__window.vj--collapsable-brackets & {
        // Bracket color
        .vj__value {
          &.vj-object,
          &.vj-array {
            color: $primary;
          }
        }
      }

      // Bracket bottom border
      @at-root .vj__window.vj--collapsable-brackets.vj--tablines & {
        &:not(.vj--collapsed) {
          .vj__key::after {
            content: "";
            display: block;
            position: absolute;
            width: 110%;
            bottom: -1px;
            left: 0;
            border-bottom: 1px solid $tab-border-color-active;
          }
        }
      }
    }
  }

  &__key,
  &__value {
    display: inline-block;
    position: relative;

    span {
      display: inline-block;
    }
  }

  // Node key
  &__key {
    white-space: nowrap;
  }

  // Node value
  &__value {
    // Collapsable token
    @at-root .vj__window.vj--collapsable-brackets & {
      &.vj-object,
      &.vj-array {
        &:hover {
          color: $primary;
        }
      }
    }
  }
}
