$theme-dark: (
  code-bg: #fff,
  primary: #0af,
  sel-highlight: #bcbcbc,
  tab-border-color: #ddd,
  comment-color: #aaa,
  string-color: #008000,
  number-color: #0000cd,
  boolean-color: #8b008b,
  node-hover-color: rgba(#08d, 0.2),
  node-selected-color: rgba(#08d, 0.3),
);

// Colors
$primary: map-get(
  $map: $theme-dark,
  $key: "primary",
);
$comment-color: map-get(
  $map: $theme-dark,
  $key: "comment-color",
);
$string-color: map-get(
  $map: $theme-dark,
  $key: "string-color",
);
$number-color: map-get(
  $map: $theme-dark,
  $key: "number-color",
);
$boolean-color: map-get(
  $map: $theme-dark,
  $key: "boolean-color",
);
$node-hover-color: map-get(
  $map: $theme-dark,
  $key: "node-hover-color",
);
$node-selected-color: map-get(
  $map: $theme-dark,
  $key: "node-selected-color",
);
$code-selection-dark: #bcbcbc;

// Tabs
$tab-border-color: #ddd;
$tab-border-color-active: $primary;
