$theme-dark: (
  code-bg: #fff,
  primary: #0af,
  sel-highlight: #bcbcbc,
  tab-border-color: #ddd,
  comment-color: #aaa,
  string-color: #090,
  string-quote-color: #008000,
  number-color: #00e,
);

// Colors
$primary: map-get(
  $map: $theme-dark,
  $key: "primary",
);
$comment-color: map-get(
  $map: $theme-dark,
  $key: "comment-color",
);
$string-color: map-get(
  $map: $theme-dark,
  $key: "string-color",
);
$string-quote-color: map-get(
  $map: $theme-dark,
  $key: "string-quote-color",
);
$number-color: map-get(
  $map: $theme-dark,
  $key: "number-color",
);
$code-selection-dark: #bcbcbc;

// Tabs
$tab-border-color: #ddd;
$tab-border-color-active: $primary;
