.vj {
  // Tab lines
  &__tab {
    user-select: text;

    @at-root .vj__window.vj--tablines & {
      box-shadow: -1px 0 0 $tab-border-color;
      z-index: -2;

      &.active {
        box-shadow: -1px 0 0 $tab-border-color-active;
      }
    }
  }
}
