// Comment
.vj-comment {
  color: $comment-color;
}

// String
.vj-string {
  .vj-quote,
  .vj-text {
    color: $string-color;
  }
}

// Number
.vj-number {
  .vj-token {
    color: $number-color;
  }
}

// Boolean
.vj-boolean {
  .vj-token {
    color: $boolean-color;
  }
}
