// Comment
.vj__comment {
  color: $comment-color;
}

// String
.vj-string {
  color: $string-color;
}

// Number
.vj-number {
  color: $number-color;
}

// Boolean
.vj-boolean {
  color: $boolean-color;
}
